@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* Primary */
   --light-red-cta-text: hsl(356, 100%, 66%);
   --very-ligh-red-cta-hover-bg: hsl(355, 100%, 74%);
   --very-dark-blue-headings: hsl(208, 49%, 24%);

   /* Neutral */
   --white-text: hsl(0, 0%, 100%);
   --grayish-blue-footer-text: hsl(240, 2%, 79%);
   --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
   --very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);

   /* intro cta mobile nav */
   --very-light-red: hsl(13, 100%, 72%);
   --light-red: hsl(353, 100%, 62%);

   /* bg body */
   --very-dark-gray-blue: hsl(237, 17%, 21%);
   --very-dark-desaturated-blue: hsl(237, 23%, 32%);

   /* hover */
   --menu-hover-color: hsl(240, 2%, 94%);

   /* font */
   --font-size-10: 62.5%; /* 10px */
   --font-fam-overpass: "Overpass", sans-serif;
   --font-fam-ubuntu: "Ubuntu", sans-serif;
   --font-fam-space-mono: "Space Mono", monospace;
   --font-weight-300: 300;
   --font-weight-400: 400;
   --font-weight-500: 500;
   --font-weight-600: 600;
   --font-weight-700: 700;
}

html {
   font-size: var(--font-size-10);
}

body {
   font-size: 1.6rem;
   font-family: var(--font-fam-ubuntu);
   font-weight: var(--font-weight-400);
   color: var(--very-dark-grayish-blue-body-copy);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5rem; /* between header, main_content & footer */
   min-width: 32rem;
}

/* ================= ================= header start here ================= ================= */
.header {
   background: linear-gradient(180deg, var(--very-light-red), var(--light-red));
   border-bottom-left-radius: 8rem;
   width: 100%;
   max-width: 144rem;
}

.header_container {
   display: flex;
   flex-direction: column;
   gap: 10rem; /* between nav_bar & title */

   background-image: url("../images/bg-pattern-intro-mobile.svg");
   background-position: top -30rem left -32rem;
   background-size: 350%;
   background-repeat: no-repeat;

   padding: 4rem 2rem;
   color: var(--white-text);
   text-align: center;
   border-bottom-left-radius: 8rem;
}

@media (min-width: 376px) and (max-width: 767px) {
   .header_container {
      gap: 15rem; /* between nav_bar & title */
      background-position: top -30rem left -32rem;
      background-size: 250%;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
   .header {
      background: linear-gradient(-180deg, var(--very-light-red), var(--light-red));
   }

   .header_container {
      background-image: url("../images/bg-pattern-intro-desktop.svg");
      background-position: top -45rem left -20rem;
      background-size: 150%;
   }
}

@media (min-width: 1025px) {
   .header {
      background: linear-gradient(90deg, var(--very-light-red), var(--light-red));
   }

   .header_container {
      background-image: url("../images/bg-pattern-intro-desktop.svg");
      background-position: top -130rem left -40rem;
      background-size: 210%;
      padding: 4rem 7rem;
   }
}

/* container for logo, menus & burger */
.header_nav_container {
   display: flex;
   gap: 2rem; /* between logo & menus */
   justify-content: space-between;
   align-items: center;
   position: relative;
}

@media (min-width: 1000px) {
   .header_nav_container {
      gap: 10rem; /* between logo & menus */
   }
}

/* container for menus & login, signup btn */
.menus_login_signup_container {
   display: none;
   flex-direction: column;
   gap: 3rem; /* between menus container & login signup btn */
   width: 100%;
   background-color: var(--white-text);
   padding: 0 4rem 3rem 4rem;
   border-radius: 1rem;

   position: absolute;
   top: 5rem;
   visibility: hidden;
   transform: translateX(-100%);
   transition: all 300ms ease-in-out;
}

@media (min-width: 769px) {
   .menus_login_signup_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      visibility: visible;
      background-color: transparent;
      padding: 0;
      position: unset;
      transform: unset;
   }
}

/* classes for javascript */
.menus_login_signup_container.show {
   display: flex;
}

.menus_login_signup_container.active {
   visibility: visible;
   transform: translateX(0%);
}

/* over all container for menu */
.menus_container {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between each menu_title */

   padding: 4rem 0rem;
   border-bottom: 0.1rem solid var(--grayish-blue-footer-text);
}

@media (min-width: 769px) {
   /* over all container for menu */
   .menus_container {
      flex-direction: row;
      gap: 2rem; /* between each menu_title */
      padding: 0;
      border: none;
   }
}

@media (min-width: 1000px) {
   .menus_container {
      gap: 5rem; /* between each menu_title */
   }
}

.active_list {
   position: relative;
}

.menu_title {
   display: flex;
   gap: 2rem; /* between title & arrow */
   justify-content: center;
   align-items: center;

   color: var(--very-dark-blue-headings);
   font-family: var(--font-fam-overpass);
   font-weight: var(--font-weight-600);
}

.menu_title.active {
   text-decoration: underline;
}

.name:hover {
   cursor: pointer;
   text-decoration: underline;
}

@media (min-width: 769px) {
   .name {
      color: var(--white-text);
      opacity: 0.7;
   }

   .name:hover {
      opacity: 1;
   }

   .menu_title.active {
      color: var(--white-text);
      text-decoration: underline;
      opacity: 1;
   }
}

.arrows:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.arrows {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2rem;
   height: 2rem;
   animation: arrowDown 300ms ease-in-out;
}

@media (min-width: 769px) {
   .arrow_dark {
      display: none;
   }
}

@media (max-width: 768px) {
   .arrow_light {
      display: none;
   }
}

.arrows.active {
   animation: arrowUp 300ms ease-in-out;
   animation-fill-mode: forwards;
}

@keyframes arrowDown {
   0% {
      transform: rotate(-180deg);
   }
   25% {
      transform: rotate(-135deg);
   }

   50% {
      transform: rotate(-90deg);
   }
   75% {
      transform: rotate(-45deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

@keyframes arrowUp {
   0% {
      transform: rotate(0deg);
   }

   25% {
      transform: rotate(-45deg);
   }

   50% {
      transform: rotate(-90deg);
   }

   75% {
      transform: rotate(-135deg);
   }

   100% {
      transform: rotate(-180deg);
   }
}

/* all parent */
.products,
.companies,
.connects {
   display: none;
   flex-direction: column;
   gap: 2rem; /* between each children */
   list-style-type: none;
   padding: 1rem 0;

   max-height: 0;
   border-radius: 0.5rem;
   visibility: hidden;
   transition: all 300ms ease-in-out;
   background-color: var(--menu-hover-color);
}

@media (min-width: 769px) {
   /* all parent */
   .products,
   .companies,
   .connects {
      position: absolute;
      top: 4rem;

      max-height: unset;
      transform: translateY(-150%);
      padding: 2rem 5rem;
      background-color: var(--white-text);
      width: 20rem;
   }
}

/* same classes as products, companies & connects */
.parent:hover {
   cursor: pointer;
   border-radius: 1rem;
}

/* classes for javascript */
.parent.show {
   display: flex;
}

/* classes for javascript */
.parent.active {
   visibility: visible;
   max-height: 25rem;
}

@media (min-width: 769px) {
   /* classes for javascript */
   .parent.active {
      transform: translateY(0%);
      max-height: unset;
   }
}

/* all children */
.product,
.company,
.connect {
   text-decoration: none;
   color: var(--very-dark-grayish-blue-body-copy);
   width: 100%;
   font-weight: var(--font-weight-400);
}

/* same classes as product, company & connect */
.child:hover {
   font-weight: var(--font-weight-700);
}

/* nav cta container */
.login_signup_container {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between login & signup */
   align-items: center;
   font-size: 2rem;
}

@media (min-width: 769px) {
   /* nav cta container */
   .login_signup_container {
      flex-direction: row;
   }
}

@media (min-width: 1025px) {
   .login_signup_container {
      gap: 5rem; /* between login & signup */
   }
}

.login_btn {
   text-decoration: none;
   color: var(--very-dark-gray-blue);
   font-weight: var(--font-weight-500);
}

@media (min-width: 769px) {
   .login_btn {
      color: var(--white-text);
   }
}

.signup_btn {
   width: 14rem;
   padding: 1.5rem;
   font-size: 1.7rem;
   border: none;
   border-radius: 3rem;
   font-weight: var(--font-weight-700);
   color: var(--white-text);
   background: linear-gradient(45deg, var(--very-light-red), var(--light-red));
   transition: transform 300ms;
}

@media (min-width: 769px) {
   .signup_btn {
      color: var(--light-red-cta-text);
      background: linear-gradient(45deg, var(--white-text), var(--white-text));
   }
}

/* same as login & signup btn */
.menu_cta:hover {
   cursor: pointer;
   transform: scale(1.1);
}

@media (min-width: 769px) {
   .signup_btn:hover {
      cursor: pointer;
      color: var(--white-text);
      background: linear-gradient(45deg, var(--very-ligh-red-cta-hover-bg), var(--very-ligh-red-cta-hover-bg));
   }
}

/* all about burger is here */
.burger_container {
   display: flex;
   flex-direction: column;
   gap: 0.4rem; /* between each line */
   justify-content: center;
}

.burger_container:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.burger_line {
   width: 4rem;
   border: 0.2rem solid var(--white-text);
   transition: all 300ms;
   background-color: var(--white-text);
}

/* classes for javascript */
.line1.active {
   width: 2.8rem;
   transform: rotate(45deg);
   transform-origin: left top;
}

/* classes for javascript */
.line2.active {
   display: none;
}

/* classes for javascript */
.line3.active {
   margin-top: 1rem;
   width: 2.8rem;
   transform: rotate(-45deg);
   transform-origin: left bottom;
}

@media (min-width: 769px) {
   .burger_container {
      display: none;
   }
}

/* title is here */
.title_free_learn_more_btn_container {
   display: flex;
   flex-direction: column;
   gap: 5rem; /* between title & free_learn_more btn */
}

.title_details_container {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between title & details */
   padding: 0 2rem;
}

.title {
   font-family: var(--font-fam-overpass);
   font-weight: var(--font-weight-600);
}

.free_learn_more_btn_container {
   display: flex;
   gap: 1rem; /* between free_btn & learn_more btn*/
   justify-content: center;
   padding: 0 2rem;
   padding-bottom: 10rem;
}

.header_cta {
   width: 12rem;
   padding: 1.5rem;
   border: none;
   border-radius: 3rem;
   transition: all 300ms;
}

.free_btn {
   font-family: var(--font-fam-ubuntu);
   color: var(--light-red-cta-text);
   font-weight: var(--font-weight-700);
}

.free_btn:hover {
   cursor: pointer;
   color: var(--white-text);
   background-color: var(--very-ligh-red-cta-hover-bg);
}

.learn_more_btn {
   font-family: var(--font-fam-ubuntu);
   font-weight: var(--font-weight-700);
   background-color: var(--light-red-cta-text);
   color: var(--white-text);
   border: 0.1rem solid var(--white-text);
}

.learn_more_btn:hover {
   cursor: pointer;
   color: var(--light-red-cta-text);
   background-color: var(--white-text);
}

/* ================= ================= main content start here ================= ================= */
.main_content {
   display: flex;
   flex-direction: column;
   gap: 5rem; /* between each section */
   align-items: center;
   text-align: center;
   width: 100%;
   font-family: var(--font-fam-overpass);
}

@media (min-width: 769px) {
   .main_content {
      padding-top: 10rem;
      padding-bottom: 20rem;
      gap: 30rem; /* between each section */
      max-width: 144rem;
      overflow: hidden;
   }
}

/* ================= section 1 editor is here ================= */
.editor {
   display: flex;
   flex-direction: column;
   gap: 4rem; /* between title & image */
   width: 100%;
}

.editor_title_image_description_container {
   display: flex;
   flex-direction: column;
   gap: 4rem; /* between image & desscription */
}

.editor_title {
   color: var(--very-dark-blue-headings);
}

.editor_image {
   width: 100%;
   height: 100%;
}

.editor_image.desktop {
   display: none;
}

.editor_description_container {
   display: flex;
   flex-direction: column;
   gap: 4rem; /* between each description */
}

.editor_description {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between title & details */
   line-height: 2.5rem;
}

.editor_description_title {
   font-weight: var(--font-weight-600);
   color: var(--very-dark-blue-headings);
   padding: 0 7rem;
}

.editor_description_details {
   padding: 0 5rem;
}

@media (min-width: 769px) {
   .editor_title_image_description_container {
      display: flex;
      flex-direction: row-reverse;
      gap: 0; /* between desscription & image */
   }

   .editor_title {
      font-size: 4rem;
   }

   .editor_image_container {
      position: relative;
      width: 100%;
   }

   .editor_image.desktop {
      display: unset;
      position: absolute;
      top: -18rem;
      left: -10rem;
      width: 65rem;
      height: 65rem;
   }

   .editor_image.mobile {
      display: none;
   }

   .editor_description_container {
      text-align: left;
   }

   .editor_description_title {
      padding: 0 5rem;
   }

   .editor_description_details {
      padding: 0 10rem 0 5rem;
   }
}

/* ================= section 2 state of the art is here ================= */
.state_of_the_art_container {
   display: flex;
   flex-direction: column;
}

.infra_bg_container {
   border-radius: 0 8rem 0 8rem;
   background-color: var(--very-dark-gray-blue);
   padding-bottom: 10rem;
}

@media (max-width: 599px) {
   .state_of_the_art_container {
      margin-top: 20rem;
   }

   .phone_image_container {
      margin-top: -20rem;
   }

   .infra_bg_container {
      background-image: url("../images/bg-pattern-circles.svg");
      background-position: top -28rem left -11rem;
      background-repeat: no-repeat;
      background-size: 160%;
   }
}

@media (min-width: 600px) and (max-width: 768px) {
   .state_of_the_art_container {
      margin-top: 40rem;
   }

   .phone_image_container {
      margin-top: -40rem;
   }

   .infra_bg_container {
      background-image: url("../images/bg-pattern-circles.svg");
      background-position: top -50rem left -17rem;
      background-repeat: no-repeat;
      background-size: 150%;
   }
}

.phone_image {
   width: 100%;
   height: 100%;
}

.infra_title_description_container {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between infra title & infra description */
   width: 100%;
   color: var(--grayish-blue-footer-text);
}

@media (min-width: 769px) {
   .state_of_the_art_container {
      flex-direction: row;
      margin-top: 0;
   }

   .infra_bg_container {
      display: flex;
      padding: 5rem 0;
      width: 100%;
   }

   .infra_title_description_container {
      justify-content: center;
      text-align: left;
   }

   .phone_image_container {
      position: relative;
      width: 100%;
      margin-top: 0;
   }

   .infra_bg_container {
      background-image: url("../images/bg-pattern-circles.svg");
      background-position: top -40rem left -17rem;
      background-repeat: no-repeat;
      background-size: 100%;
   }

   .phone_image {
      position: absolute;
      top: -13rem;
      left: 0;

      width: 45rem;
      height: 45rem;
   }
}

.infra_title {
   font-size: 3.5rem;
   font-weight: var(--font-weight-600);
   color: var(--white-text);
   padding: 0 4rem;
}

.infra_description {
   line-height: 2.5rem;
   padding: 0 4rem;
}

@media (min-width: 871px) and (max-width: 1000px) {
   .infra_bg_container {
      background-image: url("../images/bg-pattern-circles.svg");
      background-position: top -55rem left -20rem;
      background-repeat: no-repeat;
      background-size: 100%;
   }

   .phone_image {
      width: 50rem;
      height: 50rem;
   }
}

@media (min-width: 1001px) {
   .infra_bg_container {
      background-image: url("../images/bg-pattern-circles.svg");
      background-position: top -75rem left -40rem;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 40rem;
   }

   .phone_image {
      width: 58rem;
      height: 58rem;
   }
}

/* ================= section 3 tools start  here ================= */
.tools_title_description_container {
   display: flex;
   flex-direction: column;
   gap: 4rem; /* between image & tools desscription container */
}

@media (min-width: 769px) {
   .tools_title_description_container {
      flex-direction: row;
      gap: 4rem; /* between image & tools desscription container */
      text-align: left;
   }

   .laptop_image.mobile {
      display: none;
   }

   .laptop_image_container {
      position: relative;
      width: 100%;
   }
}

.laptop_image {
   width: 100%;
   height: 100%;
}

.laptop_image.desktop {
   display: none;
}

@media (min-width: 769px) and (max-width: 869px) {
   .laptop_image.desktop {
      display: unset;
      position: absolute;
      margin-top: -15rem;
      margin-left: -15rem;
      width: 60rem;
      height: 55rem;
   }
}

@media (min-width: 870px) {
   .laptop_image.desktop {
      display: unset;
      position: absolute;
      margin-top: -20rem;
      margin-left: -20rem;
      width: 80rem;
      height: 70rem;
   }
}

.tools_description_container {
   display: flex;
   flex-direction: column;
   gap: 4rem; /* between each description */
   width: 100%;
}

.tools_description {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between title & details */
   line-height: 2.5rem;
}

.tools_description_title {
   font-weight: var(--font-weight-600);
   padding: 0 7rem;
}

.tools_simple_description_details {
   padding: 0 3.9rem;
}

.tools_description_details {
   padding: 0 3.5rem;
}

@media (min-width: 769px) {
   .tools_description_title {
      padding-left: 2rem;
      color: var(--very-dark-blue-headings);
   }

   .tools_simple_description_details {
      padding-left: 2rem;
   }

   .tools_description_details {
      padding-left: 2rem;
   }
}

/* ================= ================= footer start here ================= ================= */
footer {
   display: flex;
   flex-direction: column;
   gap: 5rem; /* between menus & coded_by */
   align-items: center;
   padding-top: 5rem;
   border-top-right-radius: 8rem;
   background-color: var(--very-dark-black-blue-footer-bg);
   color: var(--grayish-blue-footer-text);
   width: 100%;
   text-align: center;
}

.footer_logo_menus_container {
   display: flex;
   flex-direction: column;
   gap: 3rem; /* between each parent */
   align-items: center;
}

@media (min-width: 481px) {
   footer {
      max-width: 144rem;
   }

   .footer_logo_menus_container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
      width: 100%;
   }
}

.footer_products,
.footer_company,
.footer_connect {
   display: flex;
   flex-direction: column;
   gap: 1rem; /* between parent & child */
   align-items: center;
}

@media (min-width: 481px) {
   .footer_products,
   .footer_company,
   .footer_connect {
      align-items: flex-start;
      gap: 2rem; /* between parent & child */
   }
}

.footer_name {
   font-size: 2rem;
   color: var(--grayish-blue-footer-text);
   font-family: var(--font-fam-overpass);
   font-weight: var(--font-weight-600);
}

.footer_parent_menu {
   display: flex;
   flex-direction: column;
   gap: 1rem; /* between each child */
   align-items: center;
   list-style-type: none;
   width: 10rem;
}

@media (min-width: 481px) {
   .footer_parent_menu {
      align-items: flex-start;
   }
}

.footer_child {
   text-decoration: none;
   color: var(--grayish-blue-footer-text);
}

.footer_child:hover {
   font-weight: var(--font-weight-700);
   text-decoration: underline;
}

.coded_by {
   font-family: var(--font-fam-space-mono);
   font-size: 1.2rem;
   padding: 1rem 0;
}

.coded_by a {
   text-decoration: none;
   color: var(--very-light-red);
}

/* scroll up arrow */
.scroll_up {
   position: fixed;
   bottom: 4rem;
   right: 1.5rem;
   z-index: 999;
   display: none;
}

/* classes for js */
.scroll_up.active {
   display: block;
}

.arrowUp {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--dark-saturated-cyan-graph-text);
}

.arrowUp:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.arrow_head {
   border: 2.5rem solid transparent;
   border-top: 0;
   border-bottom: 2.5rem solid red;
}

.arrow_base {
   height: 1.5rem;
   width: 2rem;
   background-color: red;
}
