@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* Primary */
   --light-red-cta-text: hsl(356, 100%, 66%);
   --very-ligh-red-cta-hover-bg: hsl(355, 100%, 74%);
   --very-dark-blue-headings: hsl(208, 49%, 24%);

   /* Neutral */
   --white-text: hsl(0, 0%, 100%);
   --grayish-blue-footer-text: hsl(240, 2%, 79%);
   --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
   --very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);

   /* intro cta mobile nav */
   --very-light-red: hsl(13, 100%, 72%);
   --light-red: hsl(353, 100%, 62%);

   /* bg body */
   --very-dark-gray-blue: hsl(237, 17%, 21%);
   --very-dark-desaturated-blue: hsl(237, 23%, 32%);

   /* hover */
   --menu-hover-color: hsl(240, 2%, 94%);

   /* font */
   --font-size-10: 62.5%; /* 10px */
   --font-fam-overpass: "Overpass", sans-serif;
   --font-fam-ubuntu: "Ubuntu", sans-serif;
   --font-weight-300: 300;
   --font-weight-400: 400;
   --font-weight-500: 500;
   --font-weight-600: 600;
   --font-weight-700: 700;
}

html {
   font-size: var(--font-size-10);
}

body {
   font-size: 1.6rem;
   font-family: var(--font-fam-ubuntu);
   font-weight: var(--font-weight-400);
   color: var(--very-dark-grayish-blue-body-copy);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5rem; /* between header, main_content & footer */
   min-width: 32rem;
}

/* ================= header start here ================= */
.header {
   display: flex;
   flex-direction: column;
   gap: 5rem; /* between nav_bar & title */

   background-image: url("../images/bg-pattern-intro-desktop.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   background-color: var(--light-red-cta-text);
   padding: 4rem;
   max-width: 48rem;
   color: var(--white-text);
   text-align: center;
}

.logo_blogr {
   width: 8rem;
   height: 3rem;
}

/* container for logo, menus & burger */
.header_nav_container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   position: relative;
}

/* container for menus & login, signup btn */
.menus_login_signup_container {
   display: none;
   flex-direction: column;
   gap: 3rem;
   width: 100%;
   background-color: var(--white-text);
   padding: 0 4rem 3rem 4rem;
   border-radius: 1rem;

   position: absolute;
   top: 5rem;
   visibility: hidden;
   transform: translateX(-100%);
   transition: all 350ms ease-in-out;
}

/* classes for javascript */
.menus_login_signup_container.show {
   display: flex;
}

.menus_login_signup_container.active {
   visibility: visible;
   transform: translateX(0%);
}

/* container for menus */
.menus_container {
   display: flex;
   flex-direction: column;
   gap: 3rem; /* between each active list & last child */

   padding: 4rem 0rem;
   border-bottom: 0.1rem solid var(--grayish-blue-footer-text);
}

/* container of each parent name in menus */
.active_list {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between active_list & 1st children */
}

.menu_title {
   display: flex;
   gap: 2rem; /* between title & arrow */
   justify-content: center;
   align-items: center;

   font-size: 2rem;
   color: var(--very-dark-blue-headings);
   font-family: var(--font-fam-overpass);
   font-weight: var(--font-weight-600);
}

.menu_title:hover {
   cursor: pointer;
   text-decoration: underline;
}

.arrow:hover {
   cursor: pointer;
   transform: scale(1.25);
}

.arrow.active {
   transform: rotate(180deg);
}

/* all parent */
.products,
.companies,
.connects {
   display: none;
   flex-direction: column;
   gap: 2rem; /* between each children */
   list-style-type: none;
   padding: 2rem 0;
   cursor: pointer;
}

/* same classes as products, companies & connects */
.parent:hover {
   border-radius: 1rem;
   background-color: var(--menu-hover-color);
}

/* classes for javascript */
.parent.active {
   display: flex;
}

/* all children */
.product,
.company,
.connect {
   text-decoration: none;
   color: var(--very-dark-grayish-blue-body-copy);
   width: 100%;
   font-weight: var(--font-weight-500);
}

/* same classes as product, company & connect */
.child:hover {
   font-weight: var(--font-weight-700);
   transform: scale(1.1);
}

/* nav cta container */
.login_signup_container {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between login & signup */
   align-items: center;
   width: 100%;
   font-size: 2rem;
}

.login_btn {
   text-decoration: none;
   color: var(--very-dark-gray-blue);
   font-weight: var(--font-weight-600);
}

.signup_btn {
   width: 15rem;
   padding: 1.5rem;
   font-size: 1.7rem;
   border: none;
   border-radius: 3rem;
   font-weight: var(--font-weight-600);
   color: var(--white-text);
   background: linear-gradient(90deg, var(--very-light-red), var(--light-red));
}

/* same as login & signup btn */
.menu_cta:hover {
   cursor: pointer;
   transform: scale(1.1);
}

/* all about burger is here */
.burger_container {
   display: flex;
   flex-direction: column;
   gap: 0.4rem; /* between each line */
   justify-content: center;
}

.burger_container:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.burger_line {
   width: 4rem;
   border: 0.2rem solid var(--white-text);
   transition: all 350ms;
}

/* classes for javascript */
.line1.active {
   /* position: relative; */
   /* top: -1.2rem; */

   width: 2.8rem;
   transform: rotate(45deg);
   transform-origin: left top;
}

/* classes for javascript */
.line2.active {
   display: none;
}

/* classes for javascript */
.line3.active {
   margin-top: 1rem;
   width: 2.8rem;
   transform: rotate(-45deg);
   transform-origin: left bottom;
}
